[data-role="menu-tab"] .miseenforme li > label {
  margin: 0;
}
[data-role="menu-tab"] .miseenforme li {
  margin: 0;
}

[data-role="menu-tab"] .category.popup,
[data-role="menu-tab"] .category.position {
  display: none;
}

[data-role="menu-tab"][data-modele = "volet"] .category.popup,
[data-role="menu-tab"][data-modele = "photo"] .category.popup,
[data-role="menu-tab"][data-modele = "differentiel"] .category.popup{
  display:none;
}

[data-role="menu-tab"][data-modele = "volet"] .category.position,
[data-role="menu-tab"][data-modele = "etape"] .category.position,
[data-role="menu-tab"][data-modele = "photo"] .category.position,
[data-role="menu-tab"][data-modele = "differentiel"] .category.position {
  display: block;
}
[data-role="menu-tab"][data-modele = "etape"] .category.position .tips {
  display: none;
}

[data-role= "menu-tab"] [data-show = "color"] .category.color i.icon:before,
[data-role= "menu-tab"] [data-show = "position"] .category.position i.icon:before,
[data-role= "menu-tab"] [data-show = "popup"] .category.popup i.icon:before {
  content: "\e904";
}

[data-role= "menu-tab"] [data-show = "color"] .hidden.color,
[data-role= "menu-tab"] [data-show = "position"] .hidden.position {
    display: block;
}

[data-role= "menu-tab"] [data-show = "popup"] .hidden.popup {
  display: block;
}

/* BULLES */
[data-role="menu-tab"][data-modele="photo"]  li.popup,
[data-role="menu-tab"][data-modele="volet"]  li.popup,
[data-role="menu-tab"][data-modele="etape"] li.popup,
[data-role="menu-tab"][data-modele="compare"] li.popup,
[data-role="menu-tab"][data-modele="diapo"] li.popup,
[data-role="menu-tab"][data-modele="standard"] li.popup {
  display: block;
}

[data-role="menu-tab"] .color [data-attr="color"] {
  display: none;
}
[data-role="menu-tab"] .color[data-theme="custom"] [data-attr="color"] {
  display: block;
}

[data-role="menu-tab"] .color [data-attr="color"] > label {
  display: inline-block;
  padding: 1em 1em 1em 0;
  width: 9em;
  text-align: right;
}

[data-role="menu-tab"] .category .tips {
  border-top: 0.1rem solid #dde1e6;
  margin-top: 1em;
  padding-top: 1em;
}
[data-role="menu-tab"] [data-attr="css"] button {
  width: auto;
}

/* Dialog */
.ol-ext-dialog.dialogCSS select {
  float: right;
  padding: 0.1em .2em;
  font-size: 1em;
  width: 6.5em;
}
.ol-ext-dialog.dialogCSS select option:first-child {
  display: none;
}

.ol-ext-dialog.dialogCSS p {
  display: inline-block;
  padding: 0;
  margin: 0;
  font-style: italic;
}

.ol-ext-dialog.dialogCSS textarea {
  width: 60em;
  height: 20em;
  max-width: 100%;
  min-height: 5em;
  max-height: calc(100vh - 15em);
  max-height: calc(100dvh - 15em);
  display: block;
  font-size: 1em;
  tab-size: 2;
}
.ol-ext-dialog.dialogCSS pre[aria-hidden="true"] {
  display: none;
}
.ol-ext-dialog.dialogCSS pre {
  line-height: 1em;
  display: block;
}
